/* TABLE MODS*/
.table-td-no-padding > tbody > tr > td, 
.table-td-no-padding > tfoot > tr > td{
	padding: 0px;
}
.table-th-no-padding > thead > tr > th, 
.table-th-no-padding > tbody > tr > th, 
.table-th-no-padding > tfoot > tr > th{
	padding: 0px;
}
.table-vert-mid > thead > tr > td, 
.table-vert-mid > tbody > tr > td, 
.table-vert-mid > tfoot > tr > td,
.table-vert-mid > thead > tr > th, 
.table-vert-mid > tbody > tr > th, 
.table-vert-mid > tfoot > tr > th{
	vertical-align: middle;
}

/* TEXTAREA MODS*/
.resize-vert{
	resize: vertical;
}

/* FOOTER MODS*/
.main-footer strong br {
	display: none;
}

/* SMARTWIZARD MODS */
#smartwizard{
	box-shadow: none;
}

/* BOX MODS */
.box-header > .box-tools-extra {
    position: absolute;
    right: 5px;
    top: 5px;
}

/* BOOTSTRAP-TOGGLE MODS */
.toggle { border-radius: 0px;}
.toggle .toggle-handle { border-radius: 0px; }
.toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }

/* TSVIEW*/
.content{
    width: 100%;
}

.place{
    float: left;
    width: 16px;
    height: 16px;
}

.pwchanimg{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/channel_private.svg');
}
.chanimg{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/channel_green_subscribed.svg');
    background-size: 16px 16px;
}
.channame{
    float: left;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    font-weight: lighter;
}
.fullimg{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/channel_red_subscribed.svg');
    background-size: 16px 16px;
}
.clear{
    clear:both;
}
.away_img{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/away.svg');
    background-size: 16px 16px;
}
.away_msg{
    float: left;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: lighter;
}
.hwhead_img{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/hardware_output_muted.svg');
    background-size: 16px 16px;
}
.hwmic_img{
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/hardware_input_muted.svg');
    background-size: 16px 16px;
}
.head_img{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/output_muted.svg');
    background-size: 16px 16px;
}
.mic_img{
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/input_muted.svg');
    background-size: 16px 16px;
}
.player_on_img{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/player_on.svg');
    background-size: 16px 16px;
}
.player_img{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/player_off.svg');
    background-size: 16px 16px;
}
.player_command_img{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/player_commander_off.svg');
    background-size: 16px 16px;
}
.player_command_on_img{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/player_commander_on.svg');
    background-size: 16px 16px;
}
.clientnick{
    float: left;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}
.channel{
    height: 16px;
    line-height: 16px;
    margin-bottom: 3px;
}
.client{
    height: 16px;
    line-height: 16px;
    margin-bottom: 3px;
}
.server_img{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('../images/server_green.svg');
    background-size: 16px 16px;
}
.servername{
    float: left;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: lighter;
}

/* EXTRA BG COLORS */
.bg-white{
	background: #ffffff;
}

/* EXTRA BOX COLORS */
.box.box-border-gray {
	border-top-color: #d2d6de;
}
.box.box-border-gray-light {
	border-top-color: #f7f7f7
}
.box.box-border-black {
	border-top-color: #111111;
}
.box.box-border-red {
	border-top-color: #dd4b39;
}
.box.box-border-yellow {
	border-top-color: #f39c12;
}
.box.box-border-aqua {
	border-top-color: #00c0ef;
}
.box.box-border-blue {
	border-top-color: #0073b7;
}
.box.box-border-light-blue {
	border-top-color: #3c8dbc;
}
.box.box-border-green {
	border-top-color: #00a65a;
}
.box.box-border-navy {
	border-top-color: #001f3f;
}
.box.box-border-teal {
	border-top-color: #39cccc;
}
.box.box-border-olive {
	border-top-color: #3d9970;
}
.box.box-border-lime {
	border-top-color: #01ff70;
}
.box.box-border-orange {
	border-top-color: #ff851b;
}
.box.box-border-fuchsia {
	border-top-color: #f012be;
}
.box.box-border-purple {
	border-top-color: #605ca8;
}
.box.box-border-maroon {
	border-top-color: #d81b60;
}